@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "K2D", sans-serif;
}

body {
    background: #fef5ea;
}


/* ********************************************HERO**************************************** */
.hero {
    padding-top: 64px;
    padding-bottom: 64px;
}

.faq {
    display: block;
    margin: 32px auto 0;
    width: 200px;
    height: 42px;
}

.faq button {
    color: #5C7142;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: transparent;
    transition: all 0.4s ease-in-out;
    border: 1px solid #5C7142;
}

.faq button:hover {
    background: #5C7142;
    color: #fef5ea;
    border: none;
}


/* ********************************************ARTICLE**************************************** */

/* partie des deux articles */
.section-article {
    padding: 40px 30px;
}

.card1 {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    min-height: 600px;
}

.card1 img {
    border-radius: 8px 8px 0 0;
}

.h2-article {
    margin-bottom: 40px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    font-family: 'K2D', sans-serif;
}

.card-title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'K2D', sans-serif;
}

.card-subtitle {
    font-size: 20px;
    font-weight: 400;
    font-family: 'K2D', sans-serif;
}

.btn_btn-primary {
    font-size: 14px;
    font-weight: 700;
    font-family: 'K2D', sans-serif;
    letter-spacing: 140%;
    text-decoration: none;
    color: #825C41;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:780px) {
    .card-article {
        display: flex;
        flex-direction: row;
        padding: 50px 10%;
        justify-content: space-between;
        gap: 50px;
    }

    .h3-reductible {
        font-size: 35px;
    }

    .card1 {
        margin-bottom: 64px;
    }

    .h2-article {
        margin-bottom: 64px;
        font-size: 48px;
    }

    .card-title {
        font-size: 28px;
    }

    .card-under-title {
        font-size: 24px;
    }

    .btn_btn-primary {
        font-size: 18px;
    }

}

/* ********************************************ASSOCIATION**************************************** */

.association{
    background: #5C7142;
    max-width: unset !important;
    color: #fef5ea;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100vw !important;
}

.asso-container{
    padding-left: 0 !important;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    padding: 0;
    padding-bottom: 32px;
    margin: 0;
}

.association h2{
    padding: 32px 9.4%;
}

.association img{
    width: 100vw;
}

.association a {
    margin: 0 auto;
}


.association button {
    border-radius: 8px;
    background: transparent;
    transition: all .4s ease-in-out;
    color: #fef5ea;
    height: 42px;
    width: 160px;
}

.association button:hover {
    background: #fef5ea;
    color: #5C7142;
}



/* ********************************************WHO**************************************** */
.who {
    padding-top: 64px;
}

.who h2 {
    text-align: center;
    padding-bottom: 16px;
}

.portrait {
    padding-top: 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* ********************************************CONTACT**************************************** */
.contact-faq {
    padding: 40px 30px;
}

.h3-contact-faq {
    padding: 40px 0;
}

.ul-contact-faq {
    margin: 15px 0;
    padding: 0;
}

.input-group-text1 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'K2D', sans-serif;
    letter-spacing: 140%;

}

.input-group1 {
    display: flex;
    flex-direction: column;
}

.form-control1 {
    border: 2px solid;
    border-radius: 4px;
    border-color: #825C41;
    background: transparent;
}

.form-label1 {
    display: flex;
    flex-direction: column;
}

/* bouton */
.bouton-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn_btn-primary1 {
    font-size: 14px;
    color: #825C41;
    background: transparent;
    font-weight: 700;
    font-family: 'K2D', sans-serif;
    letter-spacing: 140%;
    align-items: center;
    border: #825C41 2px solid;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    text-align: center;
}